<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Movie Info{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'MovieInfo/style.css'%}" >

</head>
{% block style %}
{% load staticfiles %}
<style>
body {
    background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url({% static 'MovieInfo/images/background2.jpg'%}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
{% endblock %}

<body>

      <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Movie Check</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li class="logged-in">
                    <a href="{% url 'register' %}">
                        <span aria-hidden="true"></span>&nbsp; Welcome {{user.get_username}}
                    </a>
                  </li>
              <li class="logged-in">
                  <a href="{% url 'logout' %}">
                        <span aria-hidden="true"></span>&nbsp; Logout
                  </a>
              </li>
                {% else %}
              <li class="logged-out">
                <a href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Login
                </a>
              </li>
              <li class="logged-out">
                  <a href="{% url 'register' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Register
                    </a>
              </li>
                {% endif %}
          </ul>
        </div>
    </nav>
      </div>

{% block body %}
{% endblock %}

</body>
</html>