{% extends 'MovieInfo/base.html' %}
{% block style%}
<style>
body {
    background: black no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
</style>
{% endblock%}

{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-3">
        <div class="text-center">
        <img src="{{poster_url}}" class="img-rounded center-block poster">
        </div>
        <div class="info">
        <p>Budget: {{budget}}</p>
        <p>Revenue: {{revenue}}</p>
        <p>Runtime: {{runtime}}</p>
        <p>Release Date: {{release_date}}</p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="title">
        <h1>{{title}}</h1></div>

        <div class="tagline">
        <h2>{{ tagline }}</h2>
            </div>
        <br>
        <div class="overview">
        <p>{{ overview }}</p>
            </div>
        <img src="{{backdrop_url}}" class="transparent">
    </div>
    </div>

</div>
{% endblock %}