{% extends 'MovieInfo/base.html' %}

{% block style%}
<style>
    body {
    background: black no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
{% endblock%}

{% block body %}
<div class="container-fluid container-pad">
<div class="row">
    <div class="col-md-3">
    <img src="{{poster_url}}" class="img-rounded center-block">
        </div>
    <div class="col-md-9">
        <img src="{{backdrop_url}}" class="transparent">
    </div>
    </div>

</div>
{% endblock %}