body {
    padding-top: 60px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}

.navbar-brand {
    font-family: 'Lobster', serif;
}

.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}
header {
    color: white;
}

header .intro-header {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

.front-container {
    padding-top: 150px;
    padding-bottom: 150px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.transparent {
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width:100%;
    height:100%;
    border: none;
}

.tagline {
    color: white;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50px;
    padding-top: 30px;
    font-style: italic;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

.overview {
    color: white;
    margin: 0;
    position: absolute;
    top: 250px;
    left: 50px;
    right: 50px;
    font-size: 25px;
    font-style: italic;
}

.title {
    color: white;
    font-family: Serif;
    position: absolute;
    left: 50px;
    top: 30px;
    padding-bottom: 20px;
}


.info {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 20px;
}

.logged-in {
    color: white;
    right: 60px;
    font-size: 15px;
}

.logged-out {
    right: 30px;
    font-size: 15px;
}

.poster {
    padding-top: 25px;
}